* {
  box-sizing: border-box;
}

body {
  background: #e1eaf5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  text-align: center;
  color: #363a40;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-align: center;
}

.nav {
  display: flex;
  gap: 40px;
  margin-bottom: 35px;
}

.nav a {
  color: white;
  background-color: #5eb9d7;
  padding: 10px;
  border: 1px solid #5eb9d7;
  transition: background-color 0.3s ease;
}

.nav a:hover {
  background-color: white;
  color: #5eb9d7;
  
}

.chart-row {
  display: flex;
  gap: 6px;
  margin-bottom: 6px;
}

.reserved, .open {
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.reserved {
  border-width: 2px;
  background-color: darkgray;
}

.error-msg {
  color: red;
}
